<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout == "landing" %} class="alt style2" {% endif %}{% if page.layout == "home" %} class="alt" {% endif %}>
		<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			{% for page in site.pages %}
			{% if page.layout == "home" %}
			<li><a href="{{ "" | absolute_url }}/" target="_self">{{ page.title }}</a></li>
			{% endif %}
			{% endfor %}
			{% assign sorted_pages = site.html_pages | sort:"order" %}
			{% for page in sorted_pages %}
			{% if page.layout != "home" and page.nav-menu == true and page.order < 3 %}
			<li><a href="{{ page.url | absolute_url }}" target="_self">{{ page.title }}</a></li>
			{% endif %}
			{% endfor %}
			<li><a href="{% link assets/CV/CV.pdf %}" target="_blank">CV</a></li>
		</ul>
		<ul class="actions vertical">
			<li><a href="contact.html" class="button fit" target="_self">Contact me</a></li>
		</ul>
	</nav>